## for
정해진 범위 내의 반복 (작업량을 할당)
```python
for variable in sequence:
    code
```

In [1]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [2]:
# for문을 사용해서 사용자가 입력한 데이터를 한 글자씩 출력하는 코드
word = input('단어를 입력하세요: ')

for char in word:
    print(char)

단어를 입력하세요:  apple

a
p
p
l
e

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [5]:
# 1~30까지 숫자 중에서 홀수만 담긴 리스트를 출력

numbers = range(31)
result = []

for number in numbers:
    if number %2 == 1:
       result.append(number)

print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [14]:
menus = ['라면', '김밥', '돈까스']
result = []
for idx, menu in enumerate(menus):
    result.append(idx)
print(result)

[0, 1, 2]

## dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [15]:
info = {
    'name': 'seoyon',
    'location': 'seoul',
    'phone': '010-2222-2222'
}

In [19]:
for i in info:
    print(i)
    print(info[i])

name
seoyon
location
seoul
phone
010-2222-2222

In [20]:
blood_type = {
    'A' : 5,
    'B' : 4,
    'O' : 2,
    'AB' : 3,
}

In [25]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type():
    print(key)

혈액형 목록은 다음과 같습니다.
5
4
2
3

In [26]:
result = 0

for value in blood_type.values():
    result += value
print(f'총 인원은 {result}명입니다.')

총 인원은 14명입니다.

In [27]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

In [28]:
blood_type.items()

dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

## break
반복문을 종료시키는 키워드

In [29]:
for i in range(100):
    if i > 10:
        print('10 넘었어')
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
10 넘었어

In [30]:
rice = ['보리', '보리', '보리', '쌀', '보리', '보리']

In [33]:
for r in rice:
    if r == '쌀':
        print('잡았다!')
        break
    print(r)

보리
보리
보리
잡았다!

In [35]:
for r in rice:
    if r == '쌀':
        print('잡았다!')
        continue
    print(r)

보리
보리
보리
잡았다!
보리
보리

## continue
continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [32]:
for i in range(10):
    if i % 2:
        continue
    print(i)

0
2
4
6
8

In [36]:
age = [10, 35, 20, 18, 9, 40]
for a in age:
    if a < 20:
        continue
    print('성인입니다.')

성인입니다.
성인입니다.
성인입니다.

## else
else문은 끝까지 반복이 진행된 후 실행됩니다.

In [37]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print('break 못 만남')

0
1
2
3
4
5
6
7
8
9
break 못 만남

In [38]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('break 못 만남')

0
1
2
3
4
5

In [39]:
numbers = [1, 3, 5, 7, 9]
target = 9

for number in numbers:
    if number == target:
        print('True')
        break
else:
    print('False')
# 이 else는 for에 대한 else문. 즉 break를 만나지 못했을 경우에만 실행된다. 
# Target이 9일 경우에는 break를 만나기 때문에 else문이 실행하지 않는다.

True

## pass

In [40]:
if True:
    pass

## match

```
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [42]:
status = 405

match status:
    case 400:
        print('Bad Request')
    case 404:
        print('Not found')
    case _:
        print('Something is wrong.')

Something is wrong.