In [1]:
print('hello')

hello

In [2]:
''.join(['1', '2', '3'])

'123'

In [4]:
dir('hello')
# string이 가진 기능들을 보여줌

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 1. 문자열 메소드

In [14]:
a = 'hello my name is seoyon'

In [7]:
a[0] = 'H'
# 수정 불가

TypeError: 'str' object does not support item assignment

In [15]:
a.capitalize()

'Hello my name is seoyon'

In [16]:
print(a)
# a라는 원본은 그대로. capitalize를 통해 새로운 걸로 반환됨. immutable하다.

hello my name is seoyon

In [18]:
a = a.capitalize()

In [19]:
print(a)

Hello my name is seoyon

In [20]:
a.title()

'Hello My Name Is Seoyon'

In [21]:
a.upper()

'HELLO MY NAME IS SEOYON'

In [22]:
a.lower()

'hello my name is seoyon'

In [24]:
print(a)

Hello my name is seoyon

In [25]:
# ''.join(iterable)
my_list = ['hi', 'my', 'name']
','.join(my_list)

'hi,my,name'

In [26]:
# .replace(old, new[, count])
'wooooooooooow'.replace('o', '!')

'w!!!!!!!!!!!w'

In [27]:
'wooooooooooow'.replace('o', '!', 3)

'w!!!oooooooow'

In [30]:
# .strip(): 띄어쓰기 및 비어있는 공백 지울 때 사용
my_string = '          hello\n'
print(my_string)
print(my_string.strip())

          hello

hello

In [33]:
# .strip([chars])
my_string = '          hello\n'
print(my_string)
print(my_string.strip())

my_string2 = 'hihihihihihihihellohihihihihi'
print(my_string2.strip('hi'))
print(my_string2.lstrip('hi'))
print(my_string2.rstrip('hi'))

          hello

hello
ello
ellohihihihihi
hihihihihihihihello

In [39]:
# .find(x)
a = 'apple'
print(a.find('p'))
print(a.find('z'))
# 문자가 없으면 -1이 나옴

for i in range(len(a)):
    if 'p' == a[i]:
        print(i)

1
-1
1
2

In [37]:
# .index(x)
a = 'apple'
print(a.index('p'))
print(a.index('z'))

1

ValueError: substring not found

In [44]:
# .split(x)
a = 'my_name_is_lee'
print(a.split('_'))
print(a.split('i'))

['my', 'name', 'is', 'lee']
['my_name_', 's_lee']

In [42]:
# .count()
'wooooow'.count('o')

5

# 2. 리스트 메소드

In [52]:
numbers = [1, 2, 2, 5, 2, 1, 6, 2, 4, 4]

In [53]:
# .append(x)
numbers.append(10)
# 원본 자체를 수정.
print(numbers)

[1, 2, 2, 5, 2, 1, 6, 2, 4, 4, 10]

In [54]:
# .extend(iterable)
a = [99, 100]
numbers.extend(a)
print(numbers)
print(numbers + a)

[1, 2, 2, 5, 2, 1, 6, 2, 4, 4, 10, 99, 100]
[1, 2, 2, 5, 2, 1, 6, 2, 4, 4, 10, 99, 100, 99, 100]

In [55]:
# insert(idx, x) 맨 앞 혹은 중간에 넣을 수 있다.
numbers.insert(3, 3.5)
print(numbers)

[1, 2, 2, 3.5, 5, 2, 1, 6, 2, 4, 4, 10, 99, 100]

In [56]:
# .remove(x)
numbers.remove(3.5)
print(numbers)

[1, 2, 2, 5, 2, 1, 6, 2, 4, 4, 10, 99, 100]

In [59]:
# .pop([idx]) 인자를 빼냄 (디폴트는 맨 뒤)
numbers.pop()
print(numbers)

[2, 2, 5, 2, 1, 6, 2, 4, 4, 10]

In [60]:
numbers.pop(0)
print(numbers)

[2, 5, 2, 1, 6, 2, 4, 4, 10]

In [62]:
# .sort() 정렬하는 메소드
numbers.sort()
print(numbers)
numbers.sort(reverse = True)
print(numbers)

[1, 2, 2, 2, 4, 4, 5, 6, 10]
[10, 6, 5, 4, 4, 2, 2, 2, 1]

In [65]:
# .reverse()
print(numbers)
numbers.reverse()
print(numbers)
numbers = numbers[ : :-1]
# 시작점 비어있으면 자동으로 0 집어넣고 맨 마지막도 비어있으면 -1
# 뒤로 한 칸씩 간다.
print(numbers)

[1, 2, 2, 2, 4, 4, 5, 6, 10]
[10, 6, 5, 4, 4, 2, 2, 2, 1]
[1, 2, 2, 2, 4, 4, 5, 6, 10]

## 2.1 list copy

In [66]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [67]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [68]:
copy_list[0] = 100

In [69]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [70]:
# 컴퓨터 메모리 안에 저장된 것을 list가 주소 값만 저장. 데이터 자체를 직접 할당하는게 아니라 주소를 가지고 있음.

In [72]:
a = [1, 2, 3]
# b는 새로운걸 만들고 싶어
b = a[:]
b = list(a)
b[0] = 100

print(a)
print(b)

[1, 2, 3]
[100, 2, 3]

In [73]:
a = [1, 2, [3, 4]]
b = a[:]

b[2][0] = 100

print(a)
print(b)

[1, 2, [100, 4]]
[1, 2, [100, 4]]

In [74]:
import copy
a = [1, 2, [3, 4]]
b = copy.deepcopy(a)

b[2][0] = 100

print(a)
print(b)

[1, 2, [3, 4]]
[1, 2, [100, 4]]

## 2.2 list comprehension

In [75]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
# [1, 8, 27, ...1000]
result = []
for number in numbers:
    result.append(number ** 3)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [79]:
result2 = [number ** 3 for number in numbers]
print(result2)
# list 안에 for문 돌려서 반복 작업 돌려 but 현재는 지양할 것.

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [80]:
# 짝수만 고르기
even_list = []
for i in numbers:
    if i % 2 == 0:
        even_list.append(i)

print(even_list)

[2, 4, 6, 8, 10]

In [81]:
# 짝수만 고르기(list comprehension)
even_list2 = [i for i in numbers if i % 2 == 0]
print(even_list2)

[2, 4, 6, 8, 10]

In [82]:
words = 'my name is seoyon'
vowels = 'aeiou'

# => my nm s syn 모음 삭제

In [91]:
# 1. for문 버전
result = []
for char in words:
    if char not in vowels:
        result.append(char)
        
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 's', 'y', 'n']
my nm s syn

In [92]:
# 2. list comprehension 버전
result2 = [char for char in words if char not in vowels]
print(result2)

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 's', 'y', 'n']

In [94]:
result2 = [char.upper() for char in words if char not in vowels]
print(result2)
print(''.join(result2))

['M', 'Y', ' ', 'N', 'M', ' ', 'S', ' ', 'S', 'Y', 'N']
MY NM S SYN

# 3. 딕셔너리 메소드

In [106]:
info = {
    'name': 'seoyon',
    'location': 'seoul',
}

In [96]:
info['name']

'seoyon'

In [107]:
info['name'] = 'lee'
print(info['name'])

lee

In [108]:
# .pop()
info.pop('location')
print(info)
# key eror

{'name': 'lee'}

In [109]:
# .pop(key[, default])
print(info.pop('location', None))
print(info)

None
{'name': 'lee'}

In [110]:
# .update(key = value)
info.update(name ='seoyon')
print(info)

{'name': 'seoyon'}

In [111]:
# .get(key[, default])
print(info.get('name'))

seoyon

In [115]:
print(info.get('school', '123'))
# print(info['school'])

123

## 3.1 dict comprehension

In [116]:
# {1: 1, 2: 8, 3: 27}

In [117]:
# for
cube_dict = {}
for i in range(1, 4):
    cube_dict[i] = i ** 3
print(cube_dict)

{1: 1, 2: 8, 3: 27}

In [118]:
# comp
cube_dict2 = {i: i**3 for i in range(1, 4)}
print(cube_dict2)

{1: 1, 2: 8, 3: 27}

In [119]:
# 
dust = {
    '서울': 100,
    '대구': 30,
    '대전' : 10,
    '부산' : 80,
    '광주' : 50,
}
#  =>
# result = {
#     '서울': 100,
#     '부산': 80,
#     '광주': 50,
# }

In [122]:
# 1. for
result = {}
for k, v in dust.items():
    if v >= 50:
        result[k] = v
print(result)

{'서울': 100, '부산': 80, '광주': 50}

In [123]:
# 2. comp
result2 = {k: v for k,v in dust.items() if v >= 50}
print(result2)

{'서울': 100, '부산': 80, '광주': 50}

In [124]:
result3 = {k: '나쁨' for k,v in dust.items() if v >= 50}
print(result3)

{'서울': '나쁨', '부산': '나쁨', '광주': '나쁨'}

# 4. 세트 메소드
순서가 아닌 집합으로써!
하나일 때는 add 여러개는 update

In [128]:
fruits = {'apple', 'banana', 'melon'}
# 집합은 중복이 안된다. 순서 없음.

In [129]:
# .add(x)
fruits.add('watermelon')
print(fruits)
fruits.add('watermelon')
print(fruits)

{'apple', 'watermelon', 'melon', 'banana'}
{'apple', 'watermelon', 'melon', 'banana'}

In [131]:
# .update() grape를 하나의 집함으로 보고 하나 하나 쪼개서 넣음.
fruits.update('grape')
print(fruits)

{'melon', 'g', 'r', 'banana', 'a', 'p', 'apple', 'watermelon', 'e'}

In [132]:
fruits.update({'orange', 'pear'})
print(fruits)

{'melon', 'g', 'r', 'banana', 'orange', 'a', 'p', 'apple', 'watermelon', 'e', 'pear'}

In [133]:
# .remove()
fruits.remove('orange')
print(fruits)

{'melon', 'g', 'r', 'banana', 'a', 'p', 'apple', 'watermelon', 'e', 'pear'}

In [135]:
# .pop() 들어 있는 기준으로 앞에서부터 빠지지만 빼는 것 자체는 랜덤.
fruits.pop()
print(fruits)

{'r', 'banana', 'a', 'p', 'apple', 'watermelon', 'e', 'pear'}

# 5. map(), zip(), filter()

## 5.1 map()
```python
map(function, iterable)
```

In [137]:
a= [1, 2, 3]

number_str = map(str, a)
print(number_str)
print(list(number_str))

<map object at 0x000001EE0CA13DF0>
['1', '2', '3']

In [138]:
def cube(x):
    return x ** 3

In [140]:
# for문을 활용하여 모든 item에 cube함수 실행
result = []
for i in a:
    result.append(cube(i))
print(result)

[1, 8, 27]

In [141]:
# map
result2 =map(cube, a)
print(list(result2))

[1, 8, 27]

In [143]:
numbers = list(map(int, input().split()))
print(numbers)

 1 2 3 4 5

[1, 2, 3, 4, 5]

## 5.2 zip
두 개의 리스트를 하나로 합해줌

In [144]:
a = [1, 2, 3]
b = [100, 200, 300]

In [146]:
result = zip(a, b)
print(result)
#위치를 알려줌
print(list(result))

<zip object at 0x000001EE0CECFC00>
[(1, 100), (2, 200), (3, 300)]

## 5.3 filter
```python
filter(function, iterable)
```
filter에 들어가는 function은 T/F를 반환해야 합니다.

In [147]:
def is_odd(x):
    # if x % 2 == 1:
    #     return True
    # else:
    #     return False
    return bool(x % 2)
# 1 -> True 0 -> False

In [148]:
numbers = [1, 2, 3, 4, 5]
result = filter(is_odd, numbers)
print(result)
print(list(result))

<filter object at 0x000001EE0CA14AC0>
[1, 3, 5]